<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--
    <th:block th:replace="fragments/tailwind :: tailwind"></th:block>
    -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<section class="bg-gray-50">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <!--LOGO -->
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
            <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
            BlueTickets
        </a>
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Login
                </h1>

                <!--LOGIN FORM -->
                <form class="space-y-4 md:space-y-6 group" th:action="@{/login}" method="post" id="login-form" novalidate>
                    <div th:if="${param.error}" class="text-red-500">
                        Credenziali errate. Per favore riprova.
                    </div>
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900">
                            Username
                        </label>
                        <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 block w-full p-2.5" placeholder="username" required="">
                        <div class="invalid-feedback flex flex-row justify-start items-center mt-2">
                            <span id="username-invalid-feedback" class="text-red-500"></span>
                        </div>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">
                            Password
                        </label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                        <div class="invalid-feedback flex flex-row justify-start items-center mt-2">
                            <span id="password-invalid-feedback" class="text-red-500"></span>
                        </div>
                    </div>


                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="remember" class="text-gray-500">Ricordami</label>
                            </div>
                        </div>
                        <a href="#" class="text-sm font-medium text-blue-600 hover:underline">
                            Hai dimenticato la password?
                        </a>
                    </div>

                    <!--SUBMIT BUTTON-->
                    <button type="submit" id="submit" class="w-full text-white bg-blue-600 hover:bg-blue-900 transition-all focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        Log in
                    </button>
                    <p class="text-sm font-light text-gray-500">
                        Non sei registrato? <a href="#" class="font-medium text-primary-600 hover:underline">Registrati</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/loginValidation.js}"></script>
</body>
</html>