<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments/css :: css-bundle">
        <!-- CSS UI FRAMEWORKS-->
    </th:block>
</head>
<body>
    <th:block th:replace="/fragments/navbar :: navbar">
        <!--NAVBAR-->
    </th:block>
        <div class="container w-25 mt-5">
            <div class="text-center mb-5">
                <h1 class="fs-2"><span><strong>Ticket ID</strong></span> : [[ ${ticket.id}]]</h1>
                <h2 class="fs-4 mt-2"><span><strong>Assegnato a</strong></span> : [[ ${ticket.operator.username} ]]</h2>
            </div>
            <form
                    th:object="${ticket}"
                    th:action="@{/edit/{id}(id=${ticket.id})}"
                    th:method="POST">

                <input type="hidden" th:field="*{creationDate}" id="creationDateHidden">
                <input sec:authorize="hasAuthority('Operatore')" type="hidden" th:field="*{operator.id}" id="operatorIdHidden">
                <input sec:authorize="hasAuthority('Operatore')" type="hidden" th:field="*{priority}" id="priorityHidden">

                <!--OPERATOR-->
                <div class="mb-4" sec:authorize="hasAuthority('Admin')">
                    <label for="operator" class="form-label">Seleziona un operatore</label>
                    <select id="operator" class="form-select" th:field="*{operator}" th:disabled="${ticket.closingDate != null}">
                        <option selected value="">-- Seleziona un operatore --</option>
                        <option th:each="operator : ${operators}" th:value="${operator.id}" th:text="${operator.username}"></option>
                    </select>
                </div>

                <!--CUSTOMER-->
                <div class="mb-4">
                    <label for="customer" class="form-label">Cliente</label>
                    <select id="customer" class="form-select" th:field="*{customer.id}" th:disabled="${ticket.closingDate != null}">
                        <option selected value="">-- Seleziona il cliente --</option>
                        <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
                    </select>
                </div>

                <!--CATEGORY-->
                <div class="mb-4">
                    <label for="category" class="form-label">Seleziona una categoria</label>
                    <select id="category" th:field="*{category}" class="form-select" th:disabled="${ticket.closingDate != null}">
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>

                <!--PRIORITY-->
                <div class="mb-4" sec:authorize="hasAuthority('Admin')">
                    <label for="priority" class="form-label">Assegna una priorità</label>
                    <select id="priority" th:field="*{priority}" class="form-select" th:disabled="${ticket.closingDate != null}">
                        <option selected value="High">High</option>
                        <option selected value="Medium">Medium</option>
                        <option selected value="Low">Low</option>
                    </select>
                </div>

                <!--DESCRIPTION-->
                <div class="mb-4">
                    <label for="description" class="form-label">Descrivi il problema</label>
                    <textarea class="form-control" id="description" rows="3" th:field="*{description}" th:errorclass="is-invalid" th:disabled="${ticket.closingDate != null}"></textarea>
                    <!-- validation feedback -->
                    <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>

                <!--REPORT-->
                <div class="mb-4" sec:authorize="hasAuthority('Operatore')">
                    <label for="report" class="form-label">Report intervento</label>
                    <textarea class="form-control" id="report" rows="3" th:field="*{report}" th:disabled="${ticket.closingDate != null}"></textarea>
                </div>

                <!--STATO TICKET-->
                <div class="mb-4">
                    <label for="status" class="form-label">Stato ticket</label>
                    <select id="status" class="form-select" th:field="*{status}" th:disabled="${ticket.closingDate != null}">
                        <option value="Da Fare" sec:authorize="hasAuthority('Admin')">Da Fare</option>
                        <option selected value="In corso">In corso</option>
                        <option value="Completato">Completato</option>
                    </select>
                </div>

                <div class="mb-4 d-flex flex-row-reverse justify-content-between align-items-center">
                    <button type="submit" class="px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 transition-all"
                            th:disabled="${ticket.closingDate != null}"
                            th:classappend="${ticket.closingDate != null} ? 'cursor-not-allowed' : ''">
                        Modifica Ticket
                    </button>
                    <a th:href="@{/}">
                        <button type="button" class="btn btn-danger">Annulla</button>
                    </a>
                </div>
            </form>
        </div>
</body>
</html>