<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Ticket</title>
    <th:block th:replace="fragments/css :: css-bundle">
        <!-- CSS UI FRAMEWORKS-->
    </th:block>
</head>
<body>
<th:block th:replace="/fragments/navbar :: navbar">
    <!--NAVBAR-->
</th:block>

    <!-- FLEX CONTAINER -->
    <div class="flex flex-row items-start justify-center gap-[6rem]">
        <!-- SHOW CONTAINER-->
        <div class="w-25 mt-5 ml-[12rem]">
            <div class="text-center mb-5">
                <h1 class="fs-2"><span><strong>Ticket ID</strong></span> : [[ ${ticket.id}]]</h1>
                <h2 class="fs-4 mt-2"><span><strong>Assegnato a</strong></span> : [[ ${ticket.operator.username} ]]</h2>
            </div>
            <form th:object="${ticket}">

                <!--OPERATOR-->
                <div class="mb-4">
                    <label for="operator" class="form-label">Operatore assegnato</label>
                    <input type="text" id="operator" class="form-control" th:value="${ticket.operator.username}" disabled>
                </div>

                <!--CUSTOMER-->
                <div class="mb-4">
                    <label for="customer" class="form-label">Cliente</label>
                    <input type="text" id="customer" class="form-control" th:value="${ticket.customer.name}" disabled>
                </div>

                <!--CATEGORY-->
                <div class="mb-4">
                    <label for="category" class="form-label">Categoria</label>
                    <input type="text" id="category" class="form-control" th:value="${ticket.category.name}" disabled>
                </div>

                <!--PRIORITY-->
                <div class="mb-4">
                    <label for="priority" class="form-label">Priorità</label>
                    <input type="text" id="priority" class="form-control" th:value="${ticket.priority}" disabled>
                </div>

                <!--DESCRIPTION-->
                <div class="mb-4">
                    <label for="description" class="form-label">Assistenza richiesta</label>
                    <textarea class="form-control" id="description" rows="3" th:text="${ticket.description}" disabled></textarea>
                </div>

                <!--REPORT-->
                <div class="mb-4">
                    <label for="report" class="form-label">Report intervento</label>
                    <textarea class="form-control" id="report" rows="3" th:text="${ticket.report}" disabled></textarea>
                </div>

                <!--STATUS-->
                <div class="mb-4">
                    <label for="status" class="form-label">Stato del ticket</label>
                    <input type="text" id="status" class="form-control" th:value="${ticket.status}" disabled>
                </div>

                <div class="mb-4 d-flex flex-row-reverse justify-content-between align-items-center">
                    <a th:href="@{/}">
                        <button type="button" class="btn btn-primary">Torna alla lista dei ticket</button>
                    </a>
                </div>
            </form>
        </div>
        <!-- AGGIUNTA NOTA -->
        <div class="flex flex-col items-center gap-3 justify-center mt-[12rem]">
            <h1 class="fs-3">Gestione note</h1>
            <form th:action="@{/note/{tid}(tid=${ticket.id})}" th:method="POST">
                <textarea th:field="${nota.contenuto}" class="form-control" placeholder="Scrivi qui..."></textarea>
                <div class="text-center mt-3">
                    <button type="submit" class="px-5 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-all">
                        Inserisci nota
                    </button>
                </div>
            </form>
            <div class="info-note-ticket mt-5">
                <h1 class="fs-4">Note recenti:</h1>
                <div th:each="note : ${notes}" class="flex flex-column items-start justify-center gap-2 mb-4 mt-3">
                    <div>
                        <span class="fw-bold">Data e ora : </span><span th:text="${note.getFormattedCreationDate()}"></span>
                    </div>
                    <div>
                        <span class="fw-bold">Utente : </span><span th:text="${note.operator.username}"></span>
                    </div>
                    <div>
                        <span class="fw-bold">Contenuto : </span><span th:text="${note.contenuto}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
