<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments/css :: css-bundle">
        <!-- CSS UI FRAMEWORKS-->
    </th:block>
</head>
<body>
    <div class="alert alert-danger alert-dismissible fade show mt-5 !mb-0" style="position: fixed; top: 3.7rem; left: 50%; transform: translateX(-50%); z-index: 1050;"
         role="alert" th:fragment="operatorAlert(message)">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
</body>
</html>